/* thus is how to comment*/

body{
    /*lets change the font in the bod */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}

img{
    border: 20px solid salmon
}

h1 {
    border: 10px dotted seashell
}

/* to stylize multiple things use a comma*/
h2, h3{
    color:orange;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: 3rem; /*this is scaling up font by 3*/
    font-style: italic;
    text-align: center;
}

cite{
    font-size:2rem; /* scale down the quote*/
}
/*create a class now caled bigbold. you will match this with the places in html that you want to have this attribute*/
.bigbold {
    font-weight: bold;
    font-size: 2.3rem;
}

/* pseudoclass describes the different states of something like links living inside of an unordered list for example. a:link describes visited links. must be put in the order : a:link, a:visited, a:hover*/

ul a:link{
    color: lightseagreen;
    font-weight: normal;
}

/* this is when u hover the link*/
a:hover{
    color: hotpink;
    background-color: pink;
    font-weight: bold;
}

/*for a specific link (a tag) with a harvard class...*/
a.harvard:link {
    color:maroon;
}

/* similar to a class you can make an id but it can only be used once. I'm applying this to the citation in the quote*/

#myid{
    color:salmon;
}

div {
    border: 5px blue solid;
    margin-top: 1rem;
    padding-left: 1rem;
}

.box1{
    /* we can change specific characteristics and leave the others in their default settings defined in div*/
    border-color:orange;
    width: 25%;
}

/*to format only paragraphs in only box2*/
.box2 p {
    border: 2px solid green;
    margin-top: 0;
}

h1{
    margin-bottom:0;
    margin:0;
}