html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header .rightheader{
    margin-top: 50px;
    margin-left: 15px;
    flex-flow: column;
}

header .rightheader h1{
    color: #DA0090;
    margin-bottom:0;
    padding-bottom:0;
}

header .rightheader p{
    margin-top: 0;
}

nav {
    border-top: 2px solid #DA0090;
    border-bottom: 2px solid #A51F10;
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;

}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2rem auto;
    border-bottom:2px solid #DA0090;
    margin-bottom: 5px;
    /*margin: 2rem 6rem;*/
}

section article img {
    float:left;
    margin: 0;
    border-radius: 25px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

article:after{
    content:"";
    display:tale;
    clear:both;
}

a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    width: 85%;
    border-top:2px solid #A51F10;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 1rem;
}

footer ul{
    padding:0;
}


footer li{
    list-style-type: none;
    justify-content: center;
    display: inline-block;
}
